{
    "openapi": "3.1.0",
    "info": {
        "title": "VIPSocial",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://adm.tvvip.social/api"
        }
    ],
    "paths": {
        "/health": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "const": "ok"
                                        },
                                        "timestamp": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string",
                                            "const": "1.0.0"
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "timestamp",
                                        "version"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/health": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "const": "ok"
                                        },
                                        "timestamp": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string",
                                            "const": "1.0.0"
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "timestamp",
                                        "version"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/alertas": {
            "get": {
                "operationId": "alert.index",
                "tags": [
                    "Alert"
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "maxLength": 100
                        }
                    },
                    {
                        "name": "include_inactive",
                        "in": "query",
                        "schema": {
                            "type": [
                                "boolean",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "include_archived",
                        "in": "query",
                        "schema": {
                            "type": [
                                "boolean",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "destination_id",
                        "in": "query",
                        "schema": {
                            "type": [
                                "integer",
                                "null"
                            ],
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "alert_id": {
                                                        "type": "integer"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "active": {
                                                        "type": "boolean"
                                                    },
                                                    "archived_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "destination_count": {
                                                        "type": "integer"
                                                    },
                                                    "next_fire_at": {},
                                                    "monitoring": {
                                                        "type": "array",
                                                        "items": {}
                                                    },
                                                    "destinations": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "destination_id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "phone_number": {
                                                                    "type": "string"
                                                                },
                                                                "target_kind": {
                                                                    "type": "string"
                                                                },
                                                                "active": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "required": [
                                                                "destination_id",
                                                                "name",
                                                                "phone_number",
                                                                "target_kind",
                                                                "active"
                                                            ]
                                                        }
                                                    },
                                                    "schedule_rules": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "schedule_id": {
                                                                    "type": "integer"
                                                                },
                                                                "schedule_type": {
                                                                    "type": "string"
                                                                },
                                                                "day_of_week": {
                                                                    "type": [
                                                                        "integer",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "specific_date": {
                                                                    "type": "string"
                                                                },
                                                                "time_hhmm": {
                                                                    "type": "string"
                                                                },
                                                                "rule_key": {
                                                                    "type": "string"
                                                                },
                                                                "active": {
                                                                    "type": "boolean"
                                                                },
                                                                "schedule_active": {
                                                                    "type": "boolean"
                                                                },
                                                                "next_fire_at": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "updated_at": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                }
                                                            },
                                                            "required": [
                                                                "schedule_id",
                                                                "schedule_type",
                                                                "day_of_week",
                                                                "specific_date",
                                                                "time_hhmm",
                                                                "rule_key",
                                                                "active",
                                                                "schedule_active",
                                                                "next_fire_at",
                                                                "created_at",
                                                                "updated_at"
                                                            ]
                                                        }
                                                    },
                                                    "schedules": {
                                                        "type": "array",
                                                        "items": {
                                                            "anyOf": [
                                                                {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "days_of_week": {
                                                                            "type": "string"
                                                                        },
                                                                        "times": {
                                                                            "type": "array",
                                                                            "prefixItems": [
                                                                                {
                                                                                    "type": "string"
                                                                                }
                                                                            ],
                                                                            "minItems": 1,
                                                                            "maxItems": 1,
                                                                            "additionalItems": false
                                                                        },
                                                                        "specific_date": {
                                                                            "type": "null"
                                                                        },
                                                                        "schedule_active": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "days_of_week",
                                                                        "times",
                                                                        "specific_date",
                                                                        "schedule_active"
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "string"
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "created_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "updated_at": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "alert_id",
                                                    "title",
                                                    "message",
                                                    "active",
                                                    "archived_at",
                                                    "destination_count",
                                                    "next_fire_at",
                                                    "monitoring",
                                                    "destinations",
                                                    "schedule_rules",
                                                    "schedules",
                                                    "created_at",
                                                    "updated_at"
                                                ]
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "last_page",
                                                "per_page",
                                                "total",
                                                "from",
                                                "to"
                                            ]
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "meta",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            },
            "post": {
                "operationId": "alert.store",
                "tags": [
                    "Alert"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAlertRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Falha ao criar alerta"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "ALERT_CREATE_FAILED"
                                        },
                                        "errors": {
                                            "type": "string"
                                        },
                                        "trace_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "code",
                                        "errors",
                                        "trace_id"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "alert_id": {
                                                    "type": "integer"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "active": {
                                                    "type": "boolean"
                                                },
                                                "archived_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "destination_count": {
                                                    "type": "integer"
                                                },
                                                "next_fire_at": {},
                                                "monitoring": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "destinations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "destination_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "phone_number": {
                                                                "type": "string"
                                                            },
                                                            "target_kind": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "destination_id",
                                                            "name",
                                                            "phone_number",
                                                            "target_kind",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "schedule_rules": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "schedule_id": {
                                                                "type": "integer"
                                                            },
                                                            "schedule_type": {
                                                                "type": "string"
                                                            },
                                                            "day_of_week": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "specific_date": {
                                                                "type": "string"
                                                            },
                                                            "time_hhmm": {
                                                                "type": "string"
                                                            },
                                                            "rule_key": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            },
                                                            "schedule_active": {
                                                                "type": "boolean"
                                                            },
                                                            "next_fire_at": {
                                                                "type": "string"
                                                            },
                                                            "created_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "schedule_id",
                                                            "schedule_type",
                                                            "day_of_week",
                                                            "specific_date",
                                                            "time_hhmm",
                                                            "rule_key",
                                                            "active",
                                                            "schedule_active",
                                                            "next_fire_at",
                                                            "created_at",
                                                            "updated_at"
                                                        ]
                                                    }
                                                },
                                                "schedules": {
                                                    "type": "array",
                                                    "items": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "days_of_week": {
                                                                        "type": "string"
                                                                    },
                                                                    "times": {
                                                                        "type": "array",
                                                                        "prefixItems": [
                                                                            {
                                                                                "type": "string"
                                                                            }
                                                                        ],
                                                                        "minItems": 1,
                                                                        "maxItems": 1,
                                                                        "additionalItems": false
                                                                    },
                                                                    "specific_date": {
                                                                        "type": "null"
                                                                    },
                                                                    "schedule_active": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "days_of_week",
                                                                    "times",
                                                                    "specific_date",
                                                                    "schedule_active"
                                                                ]
                                                            },
                                                            {
                                                                "type": "string"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "updated_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "alert_id",
                                                "title",
                                                "message",
                                                "active",
                                                "archived_at",
                                                "destination_count",
                                                "next_fire_at",
                                                "monitoring",
                                                "destinations",
                                                "schedule_rules",
                                                "schedules",
                                                "created_at",
                                                "updated_at"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Alerta criado com sucesso"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            }
        },
        "/v1/alertas/{id}": {
            "get": {
                "operationId": "alert.show",
                "tags": [
                    "Alert"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "alert_id": {
                                                    "type": "integer"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "active": {
                                                    "type": "boolean"
                                                },
                                                "archived_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "destination_count": {
                                                    "type": "integer"
                                                },
                                                "next_fire_at": {},
                                                "monitoring": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "destinations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "destination_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "phone_number": {
                                                                "type": "string"
                                                            },
                                                            "target_kind": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "destination_id",
                                                            "name",
                                                            "phone_number",
                                                            "target_kind",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "schedule_rules": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "schedule_id": {
                                                                "type": "integer"
                                                            },
                                                            "schedule_type": {
                                                                "type": "string"
                                                            },
                                                            "day_of_week": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "specific_date": {
                                                                "type": "string"
                                                            },
                                                            "time_hhmm": {
                                                                "type": "string"
                                                            },
                                                            "rule_key": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            },
                                                            "schedule_active": {
                                                                "type": "boolean"
                                                            },
                                                            "next_fire_at": {
                                                                "type": "string"
                                                            },
                                                            "created_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "schedule_id",
                                                            "schedule_type",
                                                            "day_of_week",
                                                            "specific_date",
                                                            "time_hhmm",
                                                            "rule_key",
                                                            "active",
                                                            "schedule_active",
                                                            "next_fire_at",
                                                            "created_at",
                                                            "updated_at"
                                                        ]
                                                    }
                                                },
                                                "schedules": {
                                                    "type": "array",
                                                    "items": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "days_of_week": {
                                                                        "type": "string"
                                                                    },
                                                                    "times": {
                                                                        "type": "array",
                                                                        "prefixItems": [
                                                                            {
                                                                                "type": "string"
                                                                            }
                                                                        ],
                                                                        "minItems": 1,
                                                                        "maxItems": 1,
                                                                        "additionalItems": false
                                                                    },
                                                                    "specific_date": {
                                                                        "type": "null"
                                                                    },
                                                                    "schedule_active": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "days_of_week",
                                                                    "times",
                                                                    "specific_date",
                                                                    "schedule_active"
                                                                ]
                                                            },
                                                            {
                                                                "type": "string"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "updated_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "alert_id",
                                                "title",
                                                "message",
                                                "active",
                                                "archived_at",
                                                "destination_count",
                                                "next_fire_at",
                                                "monitoring",
                                                "destinations",
                                                "schedule_rules",
                                                "schedules",
                                                "created_at",
                                                "updated_at"
                                            ]
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "alert.update",
                "tags": [
                    "Alert"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAlertRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Falha ao atualizar alerta"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "ALERT_UPDATE_FAILED"
                                        },
                                        "errors": {
                                            "type": "string"
                                        },
                                        "trace_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "code",
                                        "errors",
                                        "trace_id"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "alert_id": {
                                                    "type": "integer"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "active": {
                                                    "type": "boolean"
                                                },
                                                "archived_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "destination_count": {
                                                    "type": "integer"
                                                },
                                                "next_fire_at": {},
                                                "monitoring": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "destinations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "destination_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "phone_number": {
                                                                "type": "string"
                                                            },
                                                            "target_kind": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "destination_id",
                                                            "name",
                                                            "phone_number",
                                                            "target_kind",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "schedule_rules": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "schedule_id": {
                                                                "type": "integer"
                                                            },
                                                            "schedule_type": {
                                                                "type": "string"
                                                            },
                                                            "day_of_week": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "specific_date": {
                                                                "type": "string"
                                                            },
                                                            "time_hhmm": {
                                                                "type": "string"
                                                            },
                                                            "rule_key": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            },
                                                            "schedule_active": {
                                                                "type": "boolean"
                                                            },
                                                            "next_fire_at": {
                                                                "type": "string"
                                                            },
                                                            "created_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "schedule_id",
                                                            "schedule_type",
                                                            "day_of_week",
                                                            "specific_date",
                                                            "time_hhmm",
                                                            "rule_key",
                                                            "active",
                                                            "schedule_active",
                                                            "next_fire_at",
                                                            "created_at",
                                                            "updated_at"
                                                        ]
                                                    }
                                                },
                                                "schedules": {
                                                    "type": "array",
                                                    "items": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "days_of_week": {
                                                                        "type": "string"
                                                                    },
                                                                    "times": {
                                                                        "type": "array",
                                                                        "prefixItems": [
                                                                            {
                                                                                "type": "string"
                                                                            }
                                                                        ],
                                                                        "minItems": 1,
                                                                        "maxItems": 1,
                                                                        "additionalItems": false
                                                                    },
                                                                    "specific_date": {
                                                                        "type": "null"
                                                                    },
                                                                    "schedule_active": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "days_of_week",
                                                                    "times",
                                                                    "specific_date",
                                                                    "schedule_active"
                                                                ]
                                                            },
                                                            {
                                                                "type": "string"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "updated_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "alert_id",
                                                "title",
                                                "message",
                                                "active",
                                                "archived_at",
                                                "destination_count",
                                                "next_fire_at",
                                                "monitoring",
                                                "destinations",
                                                "schedule_rules",
                                                "schedules",
                                                "created_at",
                                                "updated_at"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Alerta atualizado com sucesso"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            },
            "delete": {
                "operationId": "alert.destroy",
                "tags": [
                    "Alert"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Falha ao arquivar alerta"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "ALERT_ARCHIVE_FAILED"
                                        },
                                        "errors": {
                                            "type": "string"
                                        },
                                        "trace_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "code",
                                        "errors",
                                        "trace_id"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Alerta arquivado com sucesso"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/alertas/{id}/toggle": {
            "patch": {
                "operationId": "alert.toggle",
                "tags": [
                    "Alert"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Falha ao alternar status do alerta"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "ALERT_TOGGLE_FAILED"
                                        },
                                        "errors": {
                                            "type": "string"
                                        },
                                        "trace_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "code",
                                        "errors",
                                        "trace_id"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "VALIDATION_ERROR"
                                        },
                                        "errors": {
                                            "type": "string"
                                        },
                                        "trace_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "code",
                                        "errors",
                                        "trace_id"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "alert_id": {
                                                    "type": "integer"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "active": {
                                                    "type": "boolean"
                                                },
                                                "archived_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "destination_count": {
                                                    "type": "integer"
                                                },
                                                "next_fire_at": {},
                                                "monitoring": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "destinations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "destination_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "phone_number": {
                                                                "type": "string"
                                                            },
                                                            "target_kind": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "destination_id",
                                                            "name",
                                                            "phone_number",
                                                            "target_kind",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "schedule_rules": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "schedule_id": {
                                                                "type": "integer"
                                                            },
                                                            "schedule_type": {
                                                                "type": "string"
                                                            },
                                                            "day_of_week": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "specific_date": {
                                                                "type": "string"
                                                            },
                                                            "time_hhmm": {
                                                                "type": "string"
                                                            },
                                                            "rule_key": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            },
                                                            "schedule_active": {
                                                                "type": "boolean"
                                                            },
                                                            "next_fire_at": {
                                                                "type": "string"
                                                            },
                                                            "created_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "schedule_id",
                                                            "schedule_type",
                                                            "day_of_week",
                                                            "specific_date",
                                                            "time_hhmm",
                                                            "rule_key",
                                                            "active",
                                                            "schedule_active",
                                                            "next_fire_at",
                                                            "created_at",
                                                            "updated_at"
                                                        ]
                                                    }
                                                },
                                                "schedules": {
                                                    "type": "array",
                                                    "items": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "days_of_week": {
                                                                        "type": "string"
                                                                    },
                                                                    "times": {
                                                                        "type": "array",
                                                                        "prefixItems": [
                                                                            {
                                                                                "type": "string"
                                                                            }
                                                                        ],
                                                                        "minItems": 1,
                                                                        "maxItems": 1,
                                                                        "additionalItems": false
                                                                    },
                                                                    "specific_date": {
                                                                        "type": "null"
                                                                    },
                                                                    "schedule_active": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "days_of_week",
                                                                    "times",
                                                                    "specific_date",
                                                                    "schedule_active"
                                                                ]
                                                            },
                                                            {
                                                                "type": "string"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "created_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "updated_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "alert_id",
                                                "title",
                                                "message",
                                                "active",
                                                "archived_at",
                                                "destination_count",
                                                "next_fire_at",
                                                "monitoring",
                                                "destinations",
                                                "schedule_rules",
                                                "schedules",
                                                "created_at",
                                                "updated_at"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Status do alerta atualizado com sucesso"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/alertas/{id}/duplicate": {
            "post": {
                "operationId": "alert.duplicate",
                "tags": [
                    "Alert"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Falha ao duplicar alerta"
                                        },
                                        "code": {
                                            "type": "string",
                                            "const": "ALERT_DUPLICATE_FAILED"
                                        },
                                        "errors": {
                                            "type": "string"
                                        },
                                        "trace_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "code",
                                        "errors",
                                        "trace_id"
                                    ]
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "alert_id": {
                                                    "type": "integer"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "active": {
                                                    "type": "boolean"
                                                },
                                                "archived_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "destination_count": {
                                                    "type": "integer"
                                                },
                                                "next_fire_at": {},
                                                "monitoring": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "destinations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "destination_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "phone_number": {
                                                                "type": "string"
                                                            },
                                                            "target_kind": {
[...]
